body {
    background-image: url("../images-two/pexels-karolina-grabowska-4590785.jpg");
    background-position: center;
    background-size: cover;
}

.badge {
    width: 260px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto 100px auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(49, 39, 39);
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.badge h1 {
    font-size: 22px;
}

.badge img {
    width: 100px;
    border-radius: 50px;
}

.badge a {
    display: inline-block;
    color: rgb(210, 47, 47);
    margin: 10px;
    text-decoration: none;
}

.badge #email {
    color: rgb(49, 39, 39);
}